.upload-image-container {
  width: 100%;
  height: 90vh;
}

.upload-left-section {
  width: 40%;
  padding: 1rem;
}

.upload-right-section {
  width: 60%;
}

.upload-head {
  color: white;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
}

@media screen and (max-width:1024px) {
  .upload-image-container {
    flex-direction: column;
  }

  .upload-left-section {
    order: 1;
    
    /* margin-bottom: 2rem; */
    /* min-height: 50vh; */
  }

  .upload-right-section {
    order: 2;
    min-height: 50vh;
  }

  .upload-left-section,
  .upload-right-section {
    width: 100%;
  }
}