.add-contact-container {
  width: 100%;
  height: 90vh;
}

.left-contact-part {
  width: 60%;
}

.add-contact-head {
  color: white;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
}

.add-contact-icon {
  font-size: 2.5rem;
  color: #fff;
}

.right-contact-part {
  width: 40%;
  padding: 1rem;
}

.add-contact-form {
  /* position: absolute; */
  width: 100%;
  max-width: 425px;
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  padding: 0.5rem 0.875rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.contact-form-head {
  text-align: center;
  color: #333;
  font-weight: 500;
  font-size: 1.25rem;
}

.add-contact-form>input {
  height: 3rem;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  outline: none;
  padding-left: 0.875rem;
  font-size: 1rem;
}

@media screen and (max-width:1024px) {
  .add-contact-container {
    flex-direction: column;
  }

  .right-contact-part {
    order: 1;
    /* height: 100vh; */
  }

  .left-contact-part {
    order: 2;
    min-height: 50vh;
    /* display: none; */
  }

  .left-contact-part,
  .right-contact-part {
    width: 100%;
  }
}