.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.f-shrink-0 {
  flex-shrink: 0;
}



/* gap utitlities  */

.gap-xs {
  gap: 0.25rem
}

.gap-sm {
  gap: 0.5rem
}

.gap-md {
  gap: 1rem
}

.gap-lg {
  gap: 1.5rem
}

.bg-success-color {
  background-color: #4169E1;
  /* background-color: #065f46; */
}

.bg-danger-color {
  background-color: rgb(148, 9, 9);
  /* background-color: #6C757D; */
}

.color-success {
  /* color: #065f46; */
  color: #4169E1;
}

.box-grey-shadow {
  box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.3);
}

.pointer {
  cursor: pointer;
}