.home-section {
  height: 100%;
  width: 100%;
  display: flex;
  /* position: fixed; */
  /* height: 90vh; */
  /* background-color: #F1F3F5; */
  /* padding: 0.8rem; */
}

.home-section h1 {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.home-section p {
  font-size: 1.25rem;
  text-align: center;
}

.top-user-info {
  width: 50%;
  align-content: center;
}

@media screen and (max-width:768px) {
  .home-section {
    flex-direction: column;
    gap: 1rem;
  }

  .top-user-info {
    width: 100%;
  }

}