 .contactListWrap {
   width: 50%;
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
   padding: 1.25rem;
   overflow-y: auto;
   overflow-x: hidden;
 }

 .contactListStyle {
   text-decoration: none;
   color: #000;
 }

 @media screen and (max-width:768px) {
   .contactListWrap {
     width: 100%;
   }

   .contactListWrap::-webkit-scrollbar {
     display: none;
   }

 }