.contact-list {
  padding: 0.8rem;
  border-radius: 7px;
  background-color: #fff;
  /* border-left: 7px solid #065f46; */
  border-left: 7px solid #4169E1;
}


.contact-info>p {
  text-align: start;
  width: 100px;
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.contact-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}