.add-contact-div {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99999;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  background-color: #065f46;
  border-radius: 50%;
}

.add-icon {
  color: #f0fdf4;
  font-size: 3rem;
}