.navbar {
  height: 80px;
  padding: 0 24px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.navbar-left {
  width: 100px;
}

.logo {
  width: 90px;
}

.navbar-right {
  position: relative;
}

.profile-circle {
  width: 50px;
  height: 50px;
  color: white;
  border-radius: 50%;
  font-weight: bold;
}

@media screen and (max-width:768px) {
  .navbar-left {
    width: 80px;
    height: 70px;
  }
}