.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 7px solid #4169E1;
  border-top: 7px solid #fff;
  animation: spinner 1s ease infinite;
}



@keyframes spinner {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }

}